<body class="js-fullheight">
  <section id="content" class="py-0 my-0" style="background-image: url('assets/img/background.jpg');
											        background-size: 100%;
											        background-repeat: no-repeat;
											        background-position: center center;">
    <div class="container">
      <div id="carousel" class="carousel slide mx-auto" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 style="color: white" class="text-center">T shirt</h3>
            <img class="d-block w-100" src="assets/img/shirt.png" alt="First slide">
            <h3 style="color: white" class="text-center">20 euros</h3>
          </div>
          <div class="carousel-item">
            <h3 style="color: white" class="text-center">T shirt</h3>
            <img class="d-block w-100" src="assets/img/shirt.png" alt="Second slide">
            <h3 style="color: white" class="text-center">20 euros</h3>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <section id="blablatext" class="text-white py-0 my-0" style="background-color: #031821;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deleniti unde ipsam provident, fugit ratione
      assumenda
      nostrum officia laborum neque molestias nihil ducimus dicta vero? Nam enim perspiciatis incidunt eveniet.</p>
  </section>
</body>